body {
    font-family: Arial;
    text-align: center;
    background: #f4f6f8;
}

h1, h2 {
    color: #333;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
}

th {
    background: #007BFF;
    color: white;
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

.delete {
    background: red;
    color: white;
    border: none;
}

.flash {
    color: green;
    font-weight: bold;
}
