{% extends "base.html" %}

{% block content %}
<div class="card shadow p-4">
    <h3 class="mb-3">➕ Add New Student</h3>

    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <form method="POST">
        <input type="text" name="name" placeholder="Name" class="form-control mb-3" required>
        <input type="number" name="age" placeholder="Age" class="form-control mb-3" required>
        <input type="text" name="grade" placeholder="Grade" class="form-control mb-3" required>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
</div>
{% endblock %}